*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    text-align: center;
    border: 2px solid #E0E0E0;
}

.letters {
    display: inline-block;
}
.letters::after {
    clear: both;
    content: "";
    display: table;
}

.letter {
    float: left;
    width: 90px;
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-size: 100px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    overflow: hidden;
}
.letter.is-hidden {
    opacity: 1;
    width: 0;
    visibility: hidden;
}

.inputs {
    text-align: center;
}
